.main {
  padding: 5rem 15rem;
}

.load-more-comments-btn {
  border: none;
  cursor: pointer;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #4361ee;
  color: #fff;
  border-radius: 0.25rem;
  display: block;
  margin-left: auto;
}

.load-more-comments-btn:hover {
  background-color: #365fcf;
}
